*/*/.DS_Store
*/*/obj
CPP00/ex00/megaphone
CPP00/ex01/phonebook
CPP00/ex02/account
CPP01/ex00/zombie
CPP01/ex01/zombies
CPP01/ex02/brain
CPP01/ex03/violence
CPP01/ex04/replace
CPP01/ex05/karen
CPP01/ex06/karenFilter
CPP02/ex00/fixed
CPP02/ex01/fixed
CPP02/ex02/fixed
CPP02/ex03/fixed
CPP03/ex00/claptrap
CPP03/ex01/scavtrap
CPP03/ex02/fragtrap
CPP03/ex03/diamondtrap
CPP04/ex00/animals
CPP04/ex01/animals
CPP04/ex02/animals
CPP04/ex03/interface
CPP05/ex00/bureaucrat
CPP05/ex01/form
CPP05/ex03/intern
CPP06/ex00/convert
CPP06/ex01/serialization
CPP07/ex00/whatever
CPP07/ex01/iter
CPP07/ex02/array
CPP08/ex00/easyfind
CPP08/ex01/span
CPP08/ex02/mutant